@mixin delete {
    width: 20px;
    height: 20px;
    position: absolute;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    top: -8px;
    right: -8px;
    color:$blue; 
    background-color: white;
    
    &:hover {
        background-color: $yellow;
        color: white;
    }
}

@mixin change {
    width: 20px;
    height: 20px;
    position: absolute;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    top: -8px;
    right: 16px;
    color:$blue; 
    background-color: white;
    
    &:hover {
        background-color: $yellow;
        color: white;
    }
}     